*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.clr
{
    clear: both;
}
.container-nav
{
    width: 70%;
    margin: auto;
}
.container
{
    width: 80%;
    margin: auto;
    
}
/*-------------------------------------Home and navbar-----------------------------------*/
.home-g
{
    height: 300px;
    color: rgb(0, 0, 0);
    text-align: center;
    
}
.navbar-g
{
   background-color: white;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   border-bottom: solid 1px rgba(128, 128, 128, .2);
   z-index: 9999;

}
.nav-log
{
    float: left;
}
.nav-log img
{
    width: 200px;
    padding: 10px;
}
.nav-menu
{
    float: right;
    
}
.nav-menu .nav-ul
{
    list-style-type: none;
}
.nav-menu .nav-ul li 
{
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}
.nav-menu ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.caption
{
    padding-top: 120px;
}
.btn-home
{
    background-color: transparent;
    border: none;
}
.btn-home a
{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.caption 
{
    width: 50%;
    
    margin: auto;
}
/*-------------------------------------body section-----------------------------------*/
.g-body
{
   padding-top: 100px;
   padding-bottom: 100px;
}
.pics
{
   
    overflow: hidden;
   
}
.pic
{
    float: left;
    width: 33.3333%;
    padding: 3px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}
.pic img
{
    width: 100%;
    height: 400px;
    transition: all 1s;
}
.zoom
{
    position:absolute ;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.pic:hover .zoom
{
    opacity: 1;
}
.pic:hover img
{
    transform: scale(1.1);
}
/*-------------------------------------features section-----------------------------------*/
.side-buttons
{
    width: 40px;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 98%;
    border-radius: 5%;
    border: solid rgba(0, 0, 0, .1) 1px;
    
}
.setting
{
    width: 100%;
    height: 50%;
    
}
.setting img 
{
    width: 100%;
}
.market
{
    width: 100%;
    height: 50%;
}
.market img
{
    width: 100%;
}
 .home-btn button
 {
     position: fixed; 
     top: 94.5%;
     left: 97.5%;
     border:transparent;
     border-radius: 50%;
 }
 
/*-------------------------------------footer section-----------------------------------*/
/*-----------------begib section---------------------*/
.begin-footer-gallery
{
    height: 400px;
    background-color: #403d38;
    padding-top: 50px;
}
.begin-footer-gallery .about-us
{
    width: 25%;
    color: white;
    float: left;
    padding-left: 50px;
}
.begin-footer-gallery .about-us p
{
    color: #969696;
    padding-bottom: 20px;
}
.begin-footer-gallery .about-us h4
{
    padding-bottom: 20px;
}
.begin-footer-gallery .why-we
{
    color: white;
    width: 25%;
    float: left;
    padding-left: 50px;
}
.begin-footer-gallery .why-ul
{
    list-style-image: url(images/icone-ul.PNG);
    color: #969696 ;
}
.begin-footer-gallery .why-ul li {
    padding-bottom:  15px;
    padding-top: 15px;
}
.begin-footer-gallery .open-h
{
    color: white;
    width: 25%;
    float: left;
    padding-left: 50px;
}
.begin-footer-gallery .open-h ul li
{
    list-style-image: url(images/icone-ul.PNG);
    color: #969696 ;
    padding-bottom:  15px;
    padding-top: 15px;
}
.begin-footer-gallery .con-details
{
    width: 25%;
    color: white;
    float: left;
    padding-left: 50px;
    position: relative;
}
.begin-footer-gallery .con-details .img img
{
    float: left;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-top: 5px;
    padding-top: 5px;
}

.begin-footer-gallery .con-details ul li a
{
    text-decoration: none;
    color: #969696;
}
.begin-footer-gallery .con-details ul li
{
    list-style-type: none;
    padding-top: 15px;
}
.begin-footer-gallery .line2
{
    width: 100%;
    height: 1px;
    background-color: #969696;
    opacity: .2;
}
.begin-footer-gallery .background-map
{
    width: 280px;
    height: 150px;
    background-image: url(images/contact-details-map.png);
    position: absolute;
    top: 70;
    left: 70;
    opacity: .1;
}
/*-----------------end section----------------------*/
.end-footer-gallery
{
    height: 400px;
    background-color: #353330;
    
}
.end-log
{
    text-align: center;
    padding-top: 50px;
}
.copy-right
{
    text-align: center;
    color: #969696 ;
    font-size: 12px;
    padding-top: 30px;
}
.social
{
    margin-left: 45%;
}
.f-b{
    float: left;
    padding-right: 8px;
}
.google
{
    float: left;
    padding-right: 8px;
}
.linkedin{
    float: left;
    padding-right: 8px;
}
.twitter{
    float: left;
    padding-right: 8px;
}
