.container
{
    width: 90%;
}
/*-------------------------------------features section-----------------------------------*/
.side-buttons
{
    width: 40px;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 93%;
    border-radius: 5%;
    border: solid rgba(0, 0, 0, .1) 1px;
    
}
 .home-btn button
 {
     background-color: rgba(0, 0, 0, .1);
     position: fixed;
     top: 94.5%;
     left: 91.5%;
     border:transparent;
     border-radius: 50%;
 }
/*-------------------------------------   index   -----------------------------------*/
/*-------------------------------------Home and navbar-----------------------------------*/

.nav-menu
{
    display: none;
    float: right;
    
}
.nav-menu .nav-ul
{
    list-style-type: none;
}

.caption
{
    width: 100%;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 200px;
    font-size: 25px;
    
}

/*-------------------------------------who we are section-----------------------------------*/

.we-are-img
{
    width: 100%;
}

.we-are-info
{
    width: 100%;
}

/*-------------------------------------our location section-----------------------------------*/

.our-loc-img
{
    width: 100%;
}

.our-loc-info
{
    width: 100%;
}
/*-------------------------------------our baking section-----------------------------------*/
.product
{
    width: 100%;
}
.product img
{
    width: 100%;
    
}

/*-------------------------------------contact info section-----------------------------------*/
.con-map
{
    width: 100%;
}
.con-map iframe
{
    height: 40%;
}
.contact-info .info
{
    width: 100%;
}
.cont-info-items .info
{
    float: left;
    width: 80%;
}


 /*-------------------------------------footer section-----------------------------------*/
/*-----------------begib section---------------------*/
.begin-footer-home
{
    height: 1150px;
}
.begin-footer-home .about-us
{
    width: 100%;
} 
.begin-footer-home .why-we
{
    width: 100%;
}

.begin-footer-home .open-h
{
    width: 100%;
}

.begin-footer-home .con-details
{
    width: 100%;
}

/*-------------------------------------   about   -----------------------------------*/
/*-------------------------------------Home and navbar-----------------------------------*/
.nav-menu
{
    display: none;
    float: right;
    
}
.nav-menu .nav-ul
{
    list-style-type: none;
}

.caption
{
    width: 100%;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 200px;
    font-size: 25px;
}
/*-------------------------------------our story section-----------------------------------*/

.our-s-img
{
    width: 100%;
}

.our-s-info
{
    width: 100%;
    padding-top: 50px;
   
}

.infos .info
{
    width: 100%;
}

/******************************************higher footer******************************************/
.dit
{
    height: 900px;
}
.dit-items .item
{
    width: 100%;
}
/*-------------------------------------footer section-----------------------------------*/
/*-----------------begib section---------------------*/
.begin-footer-about
{
    height: 1150px;
}
.begin-footer-about .about-us
{
    width: 100%;
}
.why-we
{
    width: 100%;
}

.open-h
{
    width: 100%;
}

.con-details
{
    width: 100%;
}

/*-------------------------------------   our offer   -----------------------------------*/
/*-------------------------------------Home and navbar-----------------------------------*/


/*-------------------------------------offers section-----------------------------------*/

.offer
{
    width: 100%;
}

.prod-name h5
{
    font-size: 18px;
}
.prod-price h6
{
    font-size: 14px;
}
.prod-info p
{
    font-size: 14px ;
}
 /*------------------------------------footer section-----------------------------------*/
/*-----------------begib section---------------------*/
.begin-footer-our-offer
{
    height: 1150px;
}
.begin-footer-our-offer .about-us
{
    width: 100%;
} 
.begin-footer-our-offer .why-we
{
    width: 100%;
}

.begin-footer-our-offer .open-h
{
    width: 100%;
}

.begin-footer-our-offer .con-details
{
    width: 100%;
}

/*-------------------------------------   Gallery   -----------------------------------*/
/*-------------------------------------Home and navbar-----------------------------------*/
.home-g .caption
{
    width: 100%;
    color: black;
}
/*----------body section-------*/

.pic
{ 
    width: 100%;
}

/*-------------------------------------footer section-----------------------------------*/
/*-----------------begib section---------------------*/
.begin-footer-gallery
{
    height: 1150px;
}
.begin-footer-gallery .about-us
{
    width: 100%;
} 
.begin-footer-gallery .why-we
{
    width: 100%;
}

.begin-footer-gallery .open-h
{
    width: 100%;
}

.begin-footer-gallery .con-details
{
    width: 100%;
}
/*-------------------------------------   Contact   -----------------------------------*/
/*-------------------------------------Home and navbar-----------------------------------*/

/*-------------------------------------body section-----------------------------------*/
.form
{
    width: 100%;
}
.contact-info
{
    width: 100%;
    padding-left: 20px;
}
/*

.c-item .icone
{
    
    float: left;
    padding-bottom: 10px;
    
}*/
.c-item .info
{
    
    float: left;
    width: 80%;
}

/*
.cont-info-items .info
{
    float: left;
    width: 80%;
}.contact-info .info
{
    width: 100%;
}
*/
/*-------------------------------------footer section-----------------------------------*/
/*-----------------begib section---------------------*/
.begin-footer-contact
{
    height: 1150px;
}
.begin-footer-contact .about-us
{
    width: 100%;
} 
.begin-footer-contact .why-we
{
    width: 100%;
}

.begin-footer-contact .open-h
{
    width: 100%;
}

.begin-footer-contact .con-details
{
    width: 100%;
}
/*-------------------------------------   Market   -----------------------------------*/
.cat
{
    width: 100%;
   
}
.market-contant
{
    width: 100%;
    padding-top: 50px;
}
/**********************************/
.route
{
    width: 90%;
}